<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountDetailsRequired</key>
	<string>true</string>
	<key>AccountPassword</key>
	<string>admin123</string>
	<key>AccountUsername</key>
	<string>valtech</string>
	<key>SubscriberUsername</key>
	<string>atoz</string>
	<key>SubscriberPassword</key>
	<string>atoz</string>
	<key>SubscriberID</key>
	<integer>1</integer>
</dict>
</plist>
